*{
  margin:0px;
  padding:0px;
}

 #navbar{
  display:flex;
  align-items:center;
   position:relative;
}
.items{
  display:flex;
  /* align-items: center;
  justify-content: center; */
}
#logo img{
  height:100px;
  width:100px;
}
#navbar ul{
  display:flex;
  justify-content:center;
}
#navbar::before{
  content:"";
  background-color: black;
  position: absolute;
  height:100%;
  width:100%;
  z-index:-1;
  opacity: 0.4;
}
#navbar ul li a{
  display:block;
  padding:10px;
  text-decoration: none;
  color:white;
}
#navbar ul li a:hover{
  color:black;
  background-color: white;
}
#home{
  display:flex;
  flex-direction: column;
  padding: 3px 200px;
  justify-content: center;
  align-items: center;
  height:650px;
}
#home::before{
  content:"";
  position: absolute;
  background:url("../img2/noodle.jpg"); no repeat center center/cover;
  height:100%;
  width:100%;
  z-index:-1;
opacity:0.8;
}
#home h1{
  color:white;
  text-align:center;
  padding: 20px;
}
#home p{
  color:white;
  text-align: center;
}
.primary{
  font-size:3.5rem;
  padding:12px;
}
.btn{
  padding:6px 20px;
  border:2px solid white;
  background-color: grey;
  color:white;
  margin:20px;
  cursor:pointer;
}
.services{
}
#service-box{
  margin:34px;
  display:flex;
}
#service-box .box{
  border:2px solid brown;
  padding:34px;
  margin:10px;
  width:33%;
  text-align: center;
  justify-content: center;
  border-radius: 23px;
  background-color:#f2f2f2;
}
#service-box img{
  height:160px;
  width:160px;
  margin:10px 10px;

}
.center{
  text-align: center;
  margin-top:15px;
}
